.skills{
    padding: 5%;
}
.skil-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
@media screen and (max-width:400px){
    .skil-container{
        display: grid;
        grid-template-columns: auto auto ;
        margin-top: 5%;
        justify-content: space-between;
        padding: 3%;
    }
}
#symbol{
    font-size: 100px;
    color: blue;
}
.skil-container p{
    font-size: 20px;
    font-weight: 600;
}