#project{
    margin-bottom: 5%;
    word-spacing: 3px;
    letter-spacing: 2px;
    margin-top: 0%;
}
.work-container{
    background-color: rgb(179, 181, 184);
    padding: 5%;
    /* height: 100%; */
}
.project-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
    grid-row-gap: 10%;
    margin-bottom: 10%;
    
}
@media screen and (max-width:400px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.project-container>a img{
    width: 100%;
    filter: brightness(100%);
}
.project-container>a img:hover{
    width: 100%;
    filter: brightness(60%);
}
